<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagina de springBoot</title>
</head>
<body>
    <h1>Información de empleado</h1>
    <ul>
        <li><strong>Nombre:</strong> <span th:text="${Empleado.nombre}"></span></li>
        <li><strong>Apellido:</strong> <span th:text="${Empleado.apellido}"></span></li>
        <li><strong>Dirección:</strong> <span th:text="${Empleado.direccion !=null ? Empleado.direccion : 'No tiene direccion'}"></span></li>
        <li><strong>Puesto:</strong> <span th:text="${Empleado.puesto}"></span></li>
        <li><strong>Edad:</strong> <span th:text="${Empleado.edad}"></span></li>
        <li><strong>Teléfono:</strong> <span th:text="${Empleado.telefono}"></span></li>
        <li><strong>ID:</strong> <span th:text="${Empleado.id}"></span></li>
    </ul>

    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Puesto</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Departamento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Trabajador : ${Empleados}">
            <td th:text="${Trabajador.nombre}"></td>
            <td th:text="${Trabajador.apellido}"></td>
            <td th:text="${Trabajador.direccion}"></td>
            <td th:text="${Trabajador.puesto}"></td>
            <td th:text="${Trabajador.edad}"></td>
            <td th:text="${Trabajador.telefono}"></td>
            <td th:text="${Trabajador.id}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>